fastapi
huggingface_hub
joblib
matplotlib
numpy
pandas
passlib
Pillow
pydantic
python-dotenv
python_jose
reportlab
Shapely
SQLAlchemy
tensorflow=2.12.0
PyJWT
python-multipart
python-jose[cryptography]
python-jose 